body {
    background-color: red;

}
main {
    background-image: url('snow_img.jpg'); /* Remplace par le chemin de ton image */
    background-size: cover; /* Ajuste l'image pour couvrir tout le contenu */
    background-repeat: no-repeat; /* Évite la répétition de l'image */
    background-position: center; /* Centre l'image dans l'élément */
  }
  
